<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>
    <script src="/scripts/jquery-2.0.3.min.js"></script>
    <script src="/scripts/build_output.js"></script>
    <script src="/scripts/ansi_up.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
  </head>
  <body>
    <input id="build_id" type="hidden" value="{{build_id}}"></input>
    <div class="container">
      <pre id="output">
      </pre>
    </div>
  </body>
</html>
