<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>
    <script src="/scripts/jquery-2.0.3.min.js"></script>
    <script src="/scripts/build_output.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/build_output.css">
  </head>
  <body>
    <input id="build_id" type="hidden" value="{{build_id}}"></input>
    <div class="container">
      <h1><a href="/">builder</a></h1>
      <pre id="output"></pre>
      <div class="scroller">
        <div class="scroll-region"></div>
      </div>
    </div>
  </body>
</html>
