<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>
    <script src="/scripts/jquery-2.0.3.min.js"></script>
    <script src="/scripts/build.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/build.css">
  </head>
  <body>
    <div class="container">
      <h1><a href="/">builder</a></h1>

      {{#loggedIn}}
        <a href="/logout">Logout</a>

        <form class="form-inline" role="form" action="/add_repository" method="POST">
          <div class="form-group">
            <label class="sr-only" for="owner">Owner</label>
            <input type="text" class="form-control" name="owner" id="owner">
          </div>
          <div class="form-group">
            <label class="sr-only" for="repository">Repository</label>
            <input type="text" class="form-control" name="repository" id="repository">
          </div>
          <input type="submit" class="btn btn-default" value="Add Repository"/>
        </form>
      {{/loggedIn}}
      {{^loggedIn}}
        <a href="https://github.com/login/oauth/authorize?client_id={{clientID}}&scope=repo">Login with Github</a>
      {{/loggedIn}}

      <div id="builds">
      </div>
    </div>
  </body>
</html>
