<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>
    <script src="/scripts/jquery-2.0.3.min.js"></script>
    <script src="/scripts/build.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/build.css">
  </head>
  <body>
    <div class="container">
      <div id="builds">
      </div>
    </div>
  </body>
</html>
