<form role="form" action="/repository" method="POST">
  <div class="panel panel-default">
    <div class="panel-heading">Add a repository</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="owner">Owner</label>
        <input type="text" class="form-control" name="owner" id="owner">
      </div>
      <div class="form-group">
        <label for="repository">Repository</label>
        <input type="text" class="form-control" name="repository" id="repository">
      </div>

      <input type="submit" class="btn btn-default" value="Add Repository"/>
    </div>
  </div>
</form>
