pre {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.line .black   { color: black }
.line .red     { color: red }
.line .green   { color: green }
.line .yellow  { color: yellow }
.line .blue    { color: blue }
.line .magenta { color: magenta }
.line .cyan    { color: cyan }
.line .white   { color: white }
.line .grey    { color: grey }

.line {
  line-height: 1.5em;
}

.line.focused, .line:hover {
  cursor: pointer;
  background-color: #D4F4DF;
}

.line a {
  display: inline-block;
  position: relative;
  left: -5em;
  margin-right: -5em;

  width: 5em;
  line-height: 1.5em;
  text-align: center;
  color: lightgrey;
}

.scroller {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  display: table;
  border: 0;
}
.scroller_line {
  display: table-row;
}
.scroller_line > span {
  display: table-cell;
}
.scroller_line > span:after {
  content: '';
}
.scroller_line.red {
  background-color: red;
}
.scroller_line.green {
  background-color: green;
}
