/* http://www.colourlovers.com/palette/114395/Kinda_Basic */

h2 a {
  color: #333;
}

.build {
  height: 70px
}

.build .icon {
  float: left;
  width: 40px;
  height: 100%;
  margin-right: 15px;
}

.build.red .icon {
  background-color: #EC2655;
}

.build.green .icon {
  background-color: #B7EB34;
}

.build.blue .icon {
  background-color: #4AC5EB;
}
